/* Add CSS Styling */

.odd-element {
	background-color: lightpink;
	font-family: Verdana, DejaVu sans, sans-serif;
}

.extended-class {
	font-size: 24px;
}

#first-id {
	color: blue;
	font-size: 36px;
}

#second-id {
	background-color: lightgreen;
	font-size: 24px;
	font-weight: bold;
}
